@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    color: #fff;
    font-family: Outfit, Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.card {
    background-color: hsl(216, 50%, 16%);
    margin: 1em 1.6em;
    padding: 1.6em 1em;
    box-shadow: 0 0 1em hsl(218, 55%, 9%);
    border-radius: 10px;
    color: hsl(215, 51%, 70%);
    line-height: 1.6em;
}

.card img {
    max-width: 100%;
    border-radius: 10px;
}

h3 {
    font-weight: 600;
    color: #fff;
    margin: 0.625em 0;
}

p {
    margin: 0.625em 0;
}

.card .card-info {
    display: flex;
    justify-content: space-between;
}

.card .card-info span:first-child {
    color: hsl(178, 100%, 50%);
    font-weight: 400;
}

.card span.line-break {
    border-top: 1px solid hsl(215, 32%, 27%);
    display: block;
    width: 100%;
    margin: 1em 0;
}

.card footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card footer > img {
    width: 2em;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 0.625em;
}

.card footer p {
    margin: 0;
}

.card footer p > span {
    color: #fff;
}

@media (min-width: 375px) {
    #nft-showcase {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        display: grid;
    }

    main {
        padding: 0 10%;
    }
}