@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    color: #fff;
    font-family: Outfit, Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.card {
    background-color: hsl(216, 50%, 16%);
    margin: 1em 1em;
    padding: 1em;
    box-shadow: 0 0 1em hsl(218, 55%, 9%);
    border-radius: 10px;
    color: hsl(215, 51%, 70%);
}

.card img {
    max-width: 100%;
    border-radius: 10px;
}

h3 {
    font-weight: 600;
    color: #fff;
}

.card .card-info {
    display: flex;
    justify-content: space-between;
}

.card .card-info span:first-child {
    color: hsl(178, 100%, 50%);
    font-weight: 400;
}

@media (min-width: 500px) {
    #nft-showcase {
        grid-template-columns: 1fr 1fr 1fr;
        display: grid;
    }

    main {
        padding: 0 10%;
    }
}